doctype html
html(lang="zh-CN")
  head
    include head.pug

  body
    #particles-oli-wrapper.hide
    main.main
      block main

    != js('js/particles.min.js')
    != js('js/particles.oli.js')
    != js('js/scroller')
    != js('js/main')

    include ../plugins/google.pug
